* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20%;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 12px;
    margin: 10px;
}